body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
  padding: 0;
}

.header {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: teal;
  color: white;
  height: 200px;
}

.header-container {
  padding: 0px 30px 0px 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header-logo {
  margin: 0px;
}

.header-logo a{
  text-decoration: none;
}

.header-menu {
  margin-top: 40px;
}

.header-menu ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0px;
}

.header-menu ul li{
  text-decoration: none;
}

.header-menu ul li a{
  text-decoration: none;
  color: white;
  padding: 15px;
}

.ofertas a {
  background-color: tomato;
  border-radius: 10px;
}

.main {
  margin: 0px;
  padding-top: 30px;
  background: linear-gradient(teal, white);
  height: 500px;
}
 .main h1 {
   /* margin: 0px; */
 }
